body {
    background-color: #121212;
    color: white;
    font-family: Open Sans;
}

ul  {
    list-style-type: none;
    }

div#content 
    {
    margin-left: auto;
    margin-right: auto;
    min-width: 92rem;
    padding-top: 1rem;
    }

div#main
    {
    
    }

div#panel {
    background-color: #1e1e1e;
    width: 20rem;
    float: left;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

div#content div#panel ul li 
    {
    font-size: 1.5rem;
    }

div#content div#panel ul li a 
    {
    font-size: 1rem;
    padding-left: 2rem;
    color: white;
    text-decoration: none;
    }

div#content div#panel ul li a:hover 
    {
    color: #006fdd;
    }

div#main table tbody tr td h3 
    {
    text-align: center;
    }
